<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <a href="/user/">Home</a>
    <a href="/user/resister">resister</a>
    <a href="/user/login">login</a>
    <a href="/user/">logOut</a>
    <a href="/user/profile">profile</a>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi dolor reiciendis molestiae. Deleniti exercitationem quam atque eveniet, corporis delectus expedita omnis doloremque veniam? Nam veniam repellendus qui obcaecati illum. Quibusdam!</p>
    <p>Home page</p>
</body>
</html>