<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resister</title>
</head>
<body>
    <a href="/user/">Home</a>
    <a href="/user/resister">resister</a>
    <a href="/user/login">login</a>
    <a href="/user/">logOut</a>
    <a href="/user/profile">profile</a>
    <p>Resister</p>
    <form action="/user/resister" method="POST">
       
        <label>Email</label>
        <input type="text"name="email"/>
        <label>Password</label>
        <input type="text"name="password"/>
        <button>Resister</button>
    </form>
</body>
</html>